<h1>👋 Yello! 嘿!</h1>

<p>I'm a <a href="https://css-tricks.com/ooooops-i-guess-were-full-stack-developers-now/">full-stack front-end developer</a> from Zurich, Switzerland. 🇨🇭<br />
我是来自瑞士苏黎世的一名<a href="https://css-tricks.com/ooooops-i-guess-were-full-stack-developers-now/">全栈前端</a>开发者。</p>

<h2>🍔 My current stack</h2>

<p>
  {{#techs}}
 <a href="{{website}}"><img alt="{{logo}}"
 src="https://img.shields.io/badge/{{name}}-{{badgeColor}}?style=for-the-badge&logoColor=white&logo={{logo}}" /></a>
  {{/techs}}
</p> 


<h2>📝 My latest blog posts ~ 我的最新博客文章</h2>
<ul>
  {{#articles}}
    <li> <a href="{{canonical_url}}"><b>{{title}}</b></a><br/><i>{{description}}</i></li>
  {{/articles}}
</ul>
<p><i><a href="https://github.com/mornir/mornir/blob/master/index.js#L51">Fetched programmatically via the DEV API!</a></i></p>

{{#games}}
<h2>🎮 Games I'm currently playing ~ 我正在打的游戏</h2>
<p>
  {{#games}}
 <a href="https://store.steampowered.com/agecheck/app/{{appid}}/"><img alt="{{name}}" title="{{name}}" src="https://cdn.akamai.steamstatic.com/steam/apps/{{appid}}/header.jpg" width="270" /></a>
  {{/games}}
</p>
<p><i><a href="https://github.com/mornir/mornir/blob/master/index.js#L56">Fetched programmatically via the Steam API!</a></i></p>

{{/games}}
------------
<p align="center">
  The lists of posts and games are refreshed <b>every two weeks</b> by a <a href="https://github.com/mornir/mornir/actions?query=workflow%3A%22README+build%22">GitHub Action </a> with a <a href="https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events">scheduled event</a>
  </br>Last refresh: {{lastRefresh}} </br>
</p>
<p align="center">
  <img src="https://github.com/mornir/mornir/workflows/README%20build/badge.svg" alt="README build"/>
</p>
<p align="center">
  <i>README inspired by <a href="https://github.com/thmsgbrt/thmsgbrt">Thomas Guibert's</a></i>
</p>
