<h1 id="yello">👋 Yello! 嘿!</h1>

<p>I'm a <a href="https://full-stack.netlify.app/">full-stack front-end developer</a> from Zurich, Switzerland. <br />
我是来自瑞士苏黎世的一名<a href="https://full-stack.netlify.app/">全栈前端</a>开发者。</p>

<h2 id="mycurrentstack">🍔 My current stack</h2>

<ul>
  <li>Nuxt.js</li>

  <li>TailwindCSS</li>

  <li>Sanity.io</li>

  <li>Netlify</li>

  <li>Cypress.io</li>
</ul>

<h2 id="mylatestblogpostst">📝 My latest blog posts ~ 我的最新博客文章</h2>
 
<ul>
  {{#articles}}
    <li> <a href="{{canonical_url}}">{{title}}</a></li>
  {{/articles}}
</ul>

{{#stooges}}
<b>{{name}}</b>
{{/stooges}}

<p><em>coming soon</em> <br />
https://github.com/mornir/mornir/issues/3</p>

<h2 id="gamesimplayingt">🎮 Games I'm playing ~ 我正在打的游戏</h2>

<p><em>coming soon</em> <br />
https://github.com/mornir/mornir/issues/1</p>

<h2 id="songsimlisteningtot">🎵 Songs I'm listening to ~ 我正在听的歌曲</h2>

<p><em>coming soon</em> <br />
https://github.com/mornir/mornir/issues/</p>

<h2 id="bookimreadingt">📖 Book I'm reading ~ 我正在读的书</h2>

<p><a href="https://en.wikipedia.org/wiki/Remembrance_of_Earth%27s_Past">Remembrance of Earth's Past</a> <br />
<a href="https://baike.baidu.com/item/%E4%B8%89%E4%BD%93/5739303">三体系列</a></p>